librtp demuxer支持解析GBT28181的PS RTP包吗？

```

 if (rtp_demuxer == NULL){
            int jitter = 200;
            int frequency = 90000;
            int payload = 96;
            const char* encoding = "mpeg4-generic"; // "mpeg4-generic";
            rtp_demuxer = rtp_demuxer_create(jitter, frequency, payload, encoding, RtpRecvHandle::RtpDemuxerOnpacket, this);
            if (rtp_demuxer == NULL){
                LOGDEBUG( "rtp demuxer create failed");
                return;
            }
        }

```

rtp_demuxer_input 一直返回-1错误

数据格式不对吧，详细说明下音频数据格式，或者抓包？

不是音频的，是H264视频，打包成PS，然后再RTP发送

encoding 参数改为opus就解析成功了，rtp-payload.c中，建议加入MPEG-PS类型，支持GBT28181规范，
```
		else if (0 == strcasecmp(encoding, "opus")	// RFC7587 RTP Payload Format for the Opus Speech and Audio Codec
			|| 0 == strcasecmp(encoding, "G726-16") // ITU-T G.726 audio 16 kbit/s (RFC 3551)
			|| 0 == strcasecmp(encoding, "G726-24")	// ITU-T G.726 audio 24 kbit/s (RFC 3551)
			|| 0 == strcasecmp(encoding, "G726-32") // ITU-T G.726 audio 32 kbit/s (RFC 3551)
			|| 0 == strcasecmp(encoding, "G726-40") // ITU-T G.726 audio 40 kbit/s (RFC 3551)
			|| 0 == strcasecmp(encoding, "G7221")  // RFC5577 RTP Payload Format for ITU-T Recommendation G.722.1
			**|| 0 == strcasecmp(encoding, "MPEG-PS")) // GBT28181**
		{
			codec->encoder = rtp_common_encode();
			codec->decoder = rtp_common_decode();
		}
```


MPEG-PS对应的encoding：MP2P/PS

或者叫其他名字嘛， 解析GBT28181 PS RTP包，encoding填opus、G726-16、G726-24、G726-32、G726-40、G7221，  哪个合适呢？

呃呃，就在上面都没看到，疏忽了，感谢大佬指导！！